#cta {
	padding: {
		top: 100px;
		bottom: 100px;
	}

	.title {
		font-size: 5rem;
		font-weight: 100;
		text-align: left;
		line-height: 80px;
	}

	.details {
		@include title;
		column-gap: 30px;
		text-transform: lowercase;
	}
}