#dev_grid {
	padding: $padding-top 0;

	.parent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 50px;
		grid-row-gap: 30px;
		grid-auto-flow: row;

		.featured-img {
			aspect-ratio: 16/9;
			border: 0px solid transparent;
			transition: .5s ease;

			&:hover {
				border: 10px solid transparent;
			}

			margin: {
				top: 1rem;
				bottom: 1rem;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		a {
			font-size: .8rem;
			text-transform: uppercase;
		}
	}
}