<<<<<<< HEAD
<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@font-face {
    font-family: Signature;
	src: url('~/public/profile/fonts/QhueenySignature.otf');
  }
=======
@font-face {
    font-family: Sig;
	src: url('~/assets/fonts/Qhueeny-Signature.otf');
=======
@font-face {
    font-family: Signature;
	src: url('~/assets/fonts/QhueenySignature.otf');
>>>>>>> ac3858f952aa8fa02e8f9b01ff435259216f3067
  }

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
>>>>>>> Stashed changes
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
>>>>>>> ac3858f952aa8fa02e8f9b01ff435259216f3067
