@use '../abstracts' as a;

#navigation {
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(50px);
	height: 100dvh;
	z-index: 10;

	.links {
		position: absolute;
		left: 50px;
		bottom: 10%;
		z-index: 1;
		text-transform: uppercase;

		.btn {
			display: block;
			color: a.color(white);
			text-align: left;
		}
	}

	.close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
		z-index: 10;
		cursor: pointer;
		color: a.color(white)
	}
}