@media screen and (max-width: $breakpoint-mp) {

	// header
	header {
		.mainheader {
			padding: {
				top: 1rem;
				bottom: 1rem;
			}
		}
	}

	// footer
	footer {
		padding: {
			top: 3.5rem;
			bottom: 3.5rem;
		  }

		  .copyright {
			font-size: .6rem;
		  }
	}

	// navigation
	#navmobile {
		.blur {
			height: 100dvh;
			width:100%;
			bottom: 100%;
			backdrop-filter: blur(150px);
			position: fixed;
			z-index: -1;
			transition: .5s;
			

			&.is-active {
				bottom: 0%;
				z-index: 10;
			}

			.close-btn {
				position: absolute;
				top: 2rem;
				right: 2rem;
				z-index: 10;
				cursor: pointer;
				width: 32px;
				height: 32px;
				background-color: color(white);
				transform: scale(.7, .7);
				transition: .5s;
	
				&:hover {
					background-color: color(accent);
				}
	
				i {
					font-size: .8rem;
					color: color(background);
				  }
			}

			.navlinks {
				position:absolute;
				left: 50px;
				bottom: 30%;
				z-index: 1;
				font-size: 0.8rem;
				text-transform: uppercase;
				width: 40%;
	
				a{
					display: block;
					color: color(text);
					text-decoration: none;
					font-size: .9rem;
					padding: 12px 0;
					opacity: 1;
					transition: .5s;
					transform: translate(0, 0);
	
					&.router-link-exact-active {
						color: color(accent);
					  }
					
					&:hover {
						opacity: .4;
						transform: translate(5px, 0);
					}
				}
			}

		}
	}

	// INDEX

	// portfolio
	#portfolio {
		margin: {
			top: $ptm;
			bottom: $pbm;
		  }
		height: 30vh;

		&:hover > .title {
			bottom: 60px;
		  }

		.title {
			font-size: 2.5rem;
			left: 1rem;
			bottom: 0px;
		}

		.description {
			width: 80%;
			left: 1.2rem;
			font-size: .8rem;
		}

		.tag {
			top: 1rem;
			right: 1rem;
			transform: scale(.9,.9);
		}

		img {
			width: 110%;
			height: 110%;
			transform: scale(1.1,1.1);

			&:hover {
				transform: scale(1.2,1.2);
			}
		}
	}

	// services

	#services {
		padding-bottom: $pbm;

		.title {
			font-weight: 700;
			font-size: .8rem;
		}

		.description {
			.details {
				.desc-title {
		  font-size: .8rem;
				}
				.desc-par {
					font-size: .6rem;
				}
			}
			.count {
				font-size: .8rem;
			}
		}

	}

	// grid

	#portfolio-box {
		margin-bottom: $pbm;
		padding: {
			bottom: 2rem;
		}
		white-space: normal;
		overflow-x: hidden;

		.box {
			display: block;
			margin-right: 0;
			margin-bottom: 1rem;

			.port-img {
				width:auto;
				height: 150px;
				background-color: color(background);

				.tag {
					top: .7rem;
					right: .7rem;
					padding: 7px 10px;
					font-size: .6rem;
				}
			}

			.port-desc {
				font-size: .6rem;
			}
		}
	}

	// brands

	#brands {
		.title {
			font-weight: 700;
			font-size: .8rem;
		}

		.col-4 {
			img {
				width: 70%;
			}
		}
	}

	// ABOUT

	// Profile

	#profile {
		padding-top: 0;
		padding-bottom: 20px;
	}

	#profile-text {
		padding-top: $ptm;
		padding-bottom: 0;

		.profile-desc, .signature {
			padding: 25px;
			font-size: .8rem;
			opacity: 1;
			background-color: color(sub);
		}

		.signature > img {
			opacity: .6;
		}
	}

	// CONTACT

	#cta {
		height: 100dvh;
	}
}