@use '../abstracts' as a;

@media screen and (max-width: a.$breakpoint-mp) {

	// footer
	footer {
		padding: {
			top: 3.5rem;
			bottom: 3.5rem;
		}

		.copyright {
			font-size: .6rem;
		}
	}

	// hero
	#hero {
		padding: {
			top: a.$pm;
			bottom: a.$pm;
		}

		font-size: 2.4rem;
	}

	// skills
	#skills {
		padding: {
			top: a.$pm;
			bottom: a.$pm;
		}

		.title {
			padding-bottom: 1rem;
		}
	}

	// projects
	#projects {
		padding: {
			bottom: a.$pm;
		}

		.title {
			color: a.color(text);
			font-size: 1rem;
			letter-spacing: -0.03em;
			text-transform: uppercase;
			text-align: left;
			padding-bottom: 1rem;
		}

		.project-container {
			padding: 0;

			.box {
				display: block;
				margin-right: 0;
				margin-bottom: 2rem;

				.port-img, .port-header, .port-desc {
					width:auto;
				}

				.port-img {
					height: 150px;
				}
			}
		}
	}

	// profile
	#profile {
		padding-top: a.$pm;
		padding-bottom: a.$pm;

		.description-box {
			background-color: a.color(sub);
			padding: 25px;
			padding-bottom: 1px;
		}
	}

	// connect
	#cta {
		height: 100dvh;
	}
}