@use '../abstracts' as a;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur817.cur), auto !important;
	// outline: auto;
}

::selection {
	background-color: a.color(selection);
	color: a.color(white);
}

::-webkit-scrollbar {
	width: 7px;
  }
  
  ::-webkit-scrollbar-track {
	background: a.color(black);
  }
  
  ::-webkit-scrollbar-thumb {
	background: a.color(accent);
  }

:root {
	transition: all 0.5s;
	font-size: 14px;
	scrollbar-color: a.color(accent) a.color(black);
	scrollbar-width: thin;
}

html {
	overflow-x: hidden;
}

body {
	font-family: a.$body-font;
	background-color: a.color(background);
	// overflow-x: hidden;
}

a {
	color: a.color(white);
	text-decoration: none;
	opacity: 1;
	transition: .3s;

	&:hover {
		opacity: .75;
		color: a.color(accent);
	}
}