.nav-enter-active,
.nav-leave-active {
	  transition: all .4s;
}

.nav-leave-to {
	  transform: translate(10px, 0);
	  opacity: 0;
}

.nav-enter-from {
	transform: translate(10px, 0);
	opacity: 0;
}

.mobile-enter-active,
.mobile-leave-active {
	  transition: all .4s;
}

.mobile-leave-to {
	  transform: translate(0, -10px);
	  opacity: 0;
}

.mobile-enter-from {
	transform: translate(0, -10px);
	opacity: 0;
}